[Unit]
Description=MCAS CEF Connector
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/opt/mcas-cef/mcas-cef-connector.sh start
ExecStop=/opt/mcas-cef/mcas-cef-connector.sh stop
PIDFile=/opt/mcas-cef/mcas-cef-connector.pid
User=DACRUZ

[Install]
WantedBy=multi-user.target